* {
    box-sizing: border-box;
}

.block-container {
    display: flex;
    width: 220px;
    justify-content: space-between;
}

.block {
    width: 64px;
    aspect-ratio: 1/1;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    row-gap: 20px;
}
.container>div:first-child {
    display: flex;
    height: 32px;
    column-gap: 20px;
    justify-content: space-between;
}
.container input {
    flex-grow: 2;
}
.todo-item {
    width: 100%;
    border: 1px solid black;
    padding: 20px 16px;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;

    animation-name: todo-item-start;
    animation-duration: 2s;
    animation-fill-mode: both;
}

#button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: grey;
    border: 2px solid black;
}

@keyframes todo-item-start {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes todo-item-delete {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100%{
        opacity: 0;
        transform: translateX(-100%);
    }
}