* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: clamp(800px, 100vh, 1000px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.slider {
    position: relative;
    width: clamp(
            /*min-width*/
            720px,
            /*width*/
            80%,
            /*max-width*/
            1000px);
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
}

.slide {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    transition: 1.5s;
}

.slide.opacity {
    opacity: 0;
}

.slide.active.opacity {
    opacity: 1;
}

.slide.move-left {
    transform: translateX(100%);
}

.slide.active.move-left {
    transform: translateX(0);
}

/* <tag class="slide active"> */
.slide.active {
    z-index: 20;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    z-index: 25;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 10px;
    /* top: calc(45% - 10px - 10px - 20px); */
    top: 45%;
    transform: translateY(-50%);
    width: 32px;
    aspect-ratio: 1/1;
    cursor: pointer;
}

.button img {
    width: 100%;
    filter: invert(100%);
}

.next {
    right: 10px;
}

.prev {
    left: 10px;
}

.prev img {
    transform: rotate(180deg);
}

.dots {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dot {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 32px;
    aspect-ratio: 1/1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 1.5s;
}
.dot.active {
    background-color: rgba(0, 0, 0, 1);
}